[submodule "pyatk"]
	path = software/pyatk
	url = https://github.com/hbock/pyatk
	ignore = dirty
[submodule "busybox"]
	path = busybox
	url = https://git.busybox.net/busybox
	ignore = dirty
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux
	ignore = dirty
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot
	ignore = dirty
[submodule "software/x32ctrl/lv_port_linux"]
	path = software/x32ctrl/lv_port_linux
	url = https://github.com/lvgl/lv_port_linux.git
	ignore = dirty
[submodule "software/dropbear"]
	path = software/dropbear
	url = https://github.com/mkj/dropbear.git
	ignore = dirty
[submodule "fpga/AES50"]
	path = fpga/AES50
	url = https://github.com/OpenMixerProject/AES50.git
[submodule "software/framebuffer-vncserver"]
	path = software/framebuffer-vncserver
	url = https://github.com/ponty/framebuffer-vncserver.git
	ignore = dirty
[submodule "software/libvncserver"]
	path = software/libvncserver
	url = https://github.com/LibVNC/libvncserver.git
	ignore = dirty
