# binaries and C-files
*.bin
*.elf
*.map
*.o
*.exe

# temp files
*.bak

# initramfs
initramfs_root/bin
initramfs_root/dev
initramfs_root/etc
initramfs_root/linuxrc
initramfs_root/proc
initramfs_root/sbin
initramfs_root/sys
initramfs_root/home

# compiled software
software/x32ctrl/build
software/bin

# USB-Distribution
usb/usr/local/libexec
usb/bin
usb/sbin
usb/lib

# Xilinx ISE 14.7
fpga/xilinx/_ngo/
fpga/xilinx/_xmsgs/
fpga/xilinx/iseconfig/
fpga/xilinx/xlnx_auto_0_xdb/
fpga/xilinx/xst/

*.gise
par_usage_statistics.html
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xaw2verilog.log
_impactbatch.log
impact.xsl
impact_impact.xwbt
ise_impact.cmd
webtalk_impact.xml
*.bgn
*.bit
*.bld
*.cmd_log
*.drc
*.ll
*.lso
*.msd
*.msk
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.rbb
*.rbd
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*_bitgen.xwbt
*_envsettings.html
*_map.map
*_map.mrp
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_summary.html
*_summary.xml
*_usage.xml
*_xst.xrpt
.vscode/settings.json
*.debug
planAhead*
*.schlog
software/x32ctrl-ng/.vscode/tasks.json
software/x32ctrl-ng/.vscode/launch.json
software/x32ctrl-ng/.vscode/settings.json

# Lattice Diamond
fpga/lattice/impl*/
fpga/lattice/QuartusPrime/db/
*.dir/
*.html
*.xml
.run_manager.ini
.spread_sheet.ini
.spreadsheet_view.ini
.build_status
.recovery
*.log
*.tcl
*.ccl
*.srp
*.dmp
._Real_._Math_.vhd
software/x32ctrl/.vscode/tasks.json
