BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "fpgaclk" SITE "D11" ;
FREQUENCY 24.576000 MHz ;
LOCATE COMP "nDA_RESET" SITE "V1" ;
LOCATE COMP "nAD_RESET" SITE "A8" ;
LOCATE COMP "PLL_OUT" SITE "B12" ;
LOCATE COMP "PLL_nCS" SITE "B16" ;
LOCATE COMP "PLL_CCLK" SITE "A16" ;
LOCATE COMP "PLL_CDATA" SITE "C16" ;
LOCATE COMP "AUX_DA" SITE "C14" ;
LOCATE COMP "AUX_AD" SITE "A14" ;
LOCATE COMP "AUX_MCLK" SITE "A13" ;
LOCATE COMP "AUX_BCLK" SITE "B13" ;
LOCATE COMP "AUX_FSYNC" SITE "A12" ;
LOCATE COMP "AUX_nRST" SITE "C11" ;
LOCATE COMP "AUX_DA_nCS" SITE "B10" ;
LOCATE COMP "AUX_AD_nCS" SITE "C10" ;
LOCATE COMP "AUX_CCLK" SITE "A10" ;
LOCATE COMP "AUX_CDATA" SITE "B11" ;
LOCATE COMP "imx25_uart4_rxd" SITE "U20" ;
LOCATE COMP "imx25_uart4_txd" SITE "U19" ;
LOCATE COMP "DA_RX" SITE "U2" ;
LOCATE COMP "AD0_RX" SITE "B8" ;
LOCATE COMP "AD1_RX" SITE "F2" ;
LOCATE COMP "imx25_uart3_rxd" SITE "T20" ;
LOCATE COMP "imx25_uart3_txd" SITE "T19" ;
LOCATE COMP "DA_TX" SITE "U1" ;
LOCATE COMP "AD0_TX" SITE "A9" ;
LOCATE COMP "AD1_TX" SITE "E1" ;
LOCATE COMP "DA_DATA0" SITE "R1" ;
LOCATE COMP "DA_DATA1" SITE "T1" ;
LOCATE COMP "DA_MCLK" SITE "P1" ;
LOCATE COMP "DA_BCLK" SITE "R3" ;
LOCATE COMP "DA_FSYNC" SITE "R2" ;
LOCATE COMP "AD0_DATA0" SITE "A7" ;
LOCATE COMP "AD0_DATA1" SITE "B6" ;
LOCATE COMP "AD0_MCLK" SITE "B9" ;
LOCATE COMP "AD0_BCLK" SITE "A6" ;
LOCATE COMP "AD0_FSYNC" SITE "B5" ;
LOCATE COMP "AD1_DATA0" SITE "G3" ;
LOCATE COMP "AD1_DATA1" SITE "F1" ;
LOCATE COMP "AD1_MCLK" SITE "D1" ;
LOCATE COMP "AD1_BCLK" SITE "E3" ;
LOCATE COMP "AD1_FSYNC" SITE "E2" ;
LOCATE COMP "P16_A_TXP" SITE "W1" ;
LOCATE COMP "P16_A_TXM" SITE "Y2" ;
LOCATE COMP "P16_B_TXP" SITE "U16" ;
LOCATE COMP "P16_B_TXM" SITE "U17" ;
LOCATE COMP "nCARD_RESET" SITE "K3" ;
LOCATE COMP "CARD_RX" SITE "J3" ;
LOCATE COMP "CARD_TX" SITE "J1" ;
LOCATE COMP "CARD_IN0" SITE "K2" ;
LOCATE COMP "CARD_IN1" SITE "L3" ;
LOCATE COMP "CARD_IN2" SITE "G1" ;
LOCATE COMP "CARD_IN3" SITE "H1" ;
LOCATE COMP "CARD_BCLK" SITE "N3" ;
LOCATE COMP "CARD_FSYNC" SITE "N1" ;
LOCATE COMP "CARD_OUT0" SITE "L1" ;
LOCATE COMP "CARD_OUT1" SITE "M1" ;
LOCATE COMP "CARD_OUT2" SITE "N2" ;
LOCATE COMP "CARD_OUT3" SITE "P3" ;
LOCATE COMP "DSP_DIN0" SITE "A5" ;
LOCATE COMP "DSP_DIN1" SITE "B4" ;
LOCATE COMP "DSP_DIN2" SITE "A4" ;
LOCATE COMP "DSP_DIN3" SITE "C3" ;
LOCATE COMP "DSP_DINAUX" SITE "C7" ;
LOCATE COMP "DSP_DOUT0" SITE "B3" ;
LOCATE COMP "DSP_DOUT1" SITE "A3" ;
LOCATE COMP "DSP_DOUT2" SITE "B2" ;
LOCATE COMP "DSP_DOUT3" SITE "A2" ;
LOCATE COMP "DSP_DOUTAUX" SITE "B1" ;
LOCATE COMP "D_CLK" SITE "C1" ;
LOCATE COMP "D_FS" SITE "C2" ;
LOCATE COMP "D_CLK2" SITE "D3" ;
LOCATE COMP "D_FS2" SITE "D2" ;

